<%= render 'homes/list', book: @new, user: @user %>

<div class='col-xs-9'>
  <h1>Books</h1>
    <% @books.each do |book| %>
    <table class='table table-hover table-inverse'>
      <td><%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, format: 'jpeg' %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </table>
    <% end %>
</div>